/* Style sheet for home page ONLY */

.home-main-section {                                                                 /* For the section that holds the image and title/subtitle/button divs: */
    display: flex;                                                                       /* ... define as a flex container (display elements next to each other) ... */
    align-items: stretch;                                                                /* ... where items will stretch to be the full HEIGHT of the container ... */
    justify-content: space-between;                                                      /* ... and put as much space between the image and the title/subtitle/button divs as possible ... */
    flex-grow: 1;                                                                        /* ... and fill out the remaing height in the page. */
}

/*/ Image Left/*/

.home-main-section .img-wrapper {                                                    /* Targeting the decendant (img-wrapper) of the parent (.home-main-section): */
    display: flex;                                                                       /* ... display elements next to each other ... */
    flex-grow: 1;                                                                        /* ... setting this will make sure the content takes up as much space as possible left to right ... */
    flex-direction: column;                                                              /* ... set the section to have a VERITCAL flex direction ... */
    align-items: stretch;                                                                /* ... items will stretch to fill container*/
    justify-content: flex-end;                                                           /* ... push the image as close to the title/subtitle/button div as possible ... */
}

.home-main-section .watch-image {                                                     /* For the image itself (a watch): */
    background-image: url(wdr-1-images/watchout.png);                                    /* ... set the background image as the watch url... */
    flex-grow: 1;                                                                        /* ... set the image to grow to the full height of the section it is inside of... */
    max-height: 100vh;                                                                   /* ... maximum height allows the image to go as far as 100% of the view height  ...*/
    min-width: 24vw;                                                                     /* ... set the maximum width to no larger than 30% of the view width (e.g. vw) of our screen (so doesnt get too small)...*/
    background-size: contain;                                                            /* ... entire background image will fit inside the section without cropping...*/
    background-repeat: no-repeat;                                                        /* ... the image will only show once ...*/
    background-position: center;                                                         /* ... centers the image in the middle of the home-main-section ... */

}

/*/ Call to Action Right /*/

.home-main-section .call-to-action {                                                  /* For call to action (on right) */
    display: flex;                                                                        /* ... display elements next to each other ... */
    flex-direction: column;                                                               /* ... display elements stacked on top of each other ... */
    align-items: flex-start;                                                              /* ... so that items do not expand to fill entire width ... */
    margin: 2rem;                                                                         /* ... for spacing between image and text ...*/
    align-self: center;
}

/*/ Design /*/

.home-page-circle-1 {                                                                 /* For circles on home page: */
    position: absolute;                                                                   /* ... ... */ 
    width: 28vw;                                                                          /* ... ... */ 
    height: 28vw;                                                                         /* ... ... */ 
    border-radius: 50%;                                                                   /* ... ... */ 
    background-color: rgba(117, 97, 97, 0.1);                                           /* ... ... */ 
    bottom: 5vw;                                                                          /* ... ... */ 
    left: 5vw;                                                                            /* ... ... */ 
    z-index: -1;                                                                          /* ... ... */ 
}

.home-page-circle-2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(214, 52, 52, 0.1);
    top: 8vw;
    left: 30vw;
    z-index: -1;
}

/*/ /*/

.home-page-circle-3 {
    position: absolute;
    width: 55vw;
    height: 55vw;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(117, 97, 97, 0.1);


}