/* Main style sheet for shared stylizations across entire project */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');    /* imports the poppins font to use in your project (compared to standard insertion in meta as link) */

/*// LAYOUT //*/
*, *::before, *::after {                                                       /* for all elements inside the application (including pseudo elements)... */
    box-sizing: border-box;                                                       /* ... standardize widths and heights. */
    margin: 0;                                                                    /* ... set margin to 0 ... */
    padding: 0;                                                                   /* ... set padding to 0 ... */
  }

body {                                                                         /* For everything in the body of the HTML document: */
    padding: 0;                                                                   /* ... padding 0... */
    margin: 0;                                                                    /* ... margin 0... */
    background-color: #2F303A;                                                  /* ... the default background color... */
    font-family: 'Poppins', sans-serif;                                           /* ... font family is poppins and a defaulty of san serif if there is an issue downloading... */
    font-size: 1.2rem;                                                            /* ... default font size is font relative to the root html element... */
    color: white;                                                               /* ... default text color is white... */
    min-height: 100vh;                                                            /* ... sets the body to be 100% of the view of the screen (i.e. 100 view heights). */
}

.container {                                                                   /* the "container" is the body of the html document.  Below we want to */
    max-width: 1200px;                                                            /* ... a max-width that the container cannot exceed... */
    margin: 0 auto;                                                               /* ... margin of 0 (on top and bottom) AND auto (on left and right) which centers everything if wider than 1200px. */
    padding: 0 40px;                                                              /* ... padding of 0 (top and bottom) AND 40px (left and right) to provide space between body and edge of screen*/
}

.container-full-height-grow {                                                  /* For the sizing of the content on our page, */
    display: flex;                                                                 /* ... define as a flex container (elements will be put next to each other)... */
    flex-direction: column;                                                        /* ... sections will now be stack one on top of each other (i.e. nav, etc.*/
}

/*// STANDARD STYLIZATIONS //*/
.title {                                                                       /* For all "title" class elements: */
    font-weight: 500;                                                              /* ... the text is medium thickness (see imported poppins google font at top)*/                  
    font-size: 3em;                                                                /* ... font size of 3em (remember: em is x3 the size of the default 12pt font) ... */
    margin-bottom: 1rem;                                                           /* ... spacing on the bottom of the title for consistent padding and margins */
    margin-top: 0;
}

.subtitle {                                                                    /* For all "subtitle class elements: "*/
    font-weight: 500;                                                              /* ... font weight of 500 which is medium bold ... */
    font-size: 1.2em;                                                              /* ... font size of 1.2em which is a bit smaller than the title ... */
    margin-bottom: 2rem;                                                           /* ... spacing at the bottom of the subtitle ... */
}

.btn {                                                                         /* For all buttons with the class "btn": */
    color: white;                                                                /* ... text color is white... */   
    background-color: #b83220;                                                   /* ... button back ground color is blue ... */
    padding: .75rem 1.5rem;                                                        /* ... padding on the button is .75.rem (top and bottom) and 1.5rem (left and right) ... */
    border-radius: .5rem;                                                          /* ... with rounded edges ...*/
    text-decoration: none;                                                         /* ... and no default link underline ... */
    font-size: .9rem;                                                              /* ... and a slightly smaller font size compared to the subtitle text. */
}


/*// NAVIGATION > LOGO & BRAND NAME //*/
.brand-logo {                                                                  /* section of header that holds the logo and brand name elements. */
    display: flex;                                                                /* ... setting display to flex will put the elements (logo and brand name) next to each other...*/
    align-items: center;                                                          /* ... text will line up in the center of the logo... */
    font-size: 1.25em;                                                            /* ... font size of brand name will be larger... */
    color: inherit;                                                               /* ... color will inherit from the parent (i.e. body) the color white.. */
    text-decoration: none;                                                        /* ... remove underline from brand name (since it is a link to the home page). */
}

.brand-logo-name {                                                             /* div element containing the brand name */              
    margin-left: 1rem;                                                            /* ... puts the given amount of space between the logo and the brand name text. */
}

.logo-resize {                                                                 /* Logo size follows the following constraints:*/
    max-width: 50px;                                                              /* ... max-width of the orginal image is limited to 50px wide ... */     
    max-height: 50px;                                                             /* ... max-length of the original image is limited to 50px tall */
}


/*// NAVIGATION > LINKS //*/
.main-nav ul {                                                                 /* for the main nav container with the anchor tags "Discover" and "Join": */
    display: flex;                                                                /* ... put the elements next to each other... */
    margin: 0;                                                                    /* ... no margin ... */
    padding: 0;                                                                   /* ... no padding ... */
    list-style: none;                                                             /* ... remove the list styling (i.e. bullet points) */
}

.main-nav a {                                                                  /* Styling the anchor tags themselves (i.e. "Discover" and "Join" */
    color: inherit;                                                               /* ... the anchor tags inherits the color white from the parent body... */
    text-decoration: none;                                                        /* ... remove the underline from the default anchor text styling... */
    padding: 1.5rem;                                                              /* ... add space between the anchor tags... */
    letter-spacing: 2px;                                                          /* ... add spacing between letters...*/
}

.main-nav a:hover {                                                            /* When hovering over the anchor tags:*/
    color: #f0f0f0;                                                             /* ... the anchor tag text will darken slightly... */
}

.main-header {                                                                 /* To put the navigation and brand logo on the same line: */
    display: flex;                                                                /* ... line up everything side-by-side... */
    justify-content: space-between;                                               /* ... use "space-between" to push these two elements as far apart as possible (see "around" and "evenly" also). */
    align-items: center;                                                          /* ... and both the brand logo and navigation sections are perfectly centered. */
    height: 100px;                                                                /* ... and adding height will put space between the top of the document and the header element. */
    /* background-color: grey; */                                                 /* >>> If you want to add a background color to the entire header area <<<*/
}


/*/ MEDIA QUERIES /*/

/* Medium NAV */
@media only screen and (max-width: 1200px) {
    .main-header {                                                                 
        padding-left: 5%;
        padding-right: 5%;
    }
    


}

/* Small NAV */
@media only screen and (max-width: 1024px) {
    .main-header {                                                                 
        background-color: grey;
    }
    
}