.join-main-section {
    display: flex;                                       /*... line everything up side by side ... */
    justify-content: space-between;                      /* ... space everything out as far apart as they can (left from right)...  */
    align-items: center;                                 /* ... centers the text with the form horizontally...*/
    flex-grow: 1;                                        /* ... centers the text and form vertically ... */
} 

.join-text {
    font-size: 2.5em;
    margin: 0;                                            /* ... remove margins from header ... */
}

.accent-text {
    color: rgb(243, 58, 12);
}

.join-form {
    
}