.discover-main-section {                                                                   /* For the section that holds the image and title/subtitle/button divs: */
    display: flex;                                                                       /* ... define as a flex container (display elements next to each other) ... */
    align-items: center;                                                                 /* ... where items will stretch to be the full HEIGHT of the container ... */
    justify-content: space-between;                                                      /* ... and put as much space between the image and the title/subtitle/button divs as possible ... */
    flex-grow: 1;                                                                        /* ... and fill out the remaing height in the page. */
}

.discover-main-section .discover-watch {                                                  /*For the watch image: */
    width: 30vw;                                                                        /* ... the image will be 30% of the screen width ... */
    margin-left: 2rem;                                                                  /* ... for spacing between image and call to action on left... */
    height: auto;                                                                       /* ... image scales so its not too big ... */
    max-width: 300px;                                                                   /* ... maximum size ... */       
}   




/*// FOR ICONS //*/

.icon-section {                                                                     /* For the 3 icons in the left panel: */
    display: flex;                                                                     /* ... Line everything up side-by-side ...*/ 
    /* width: 50vw;                                                                       ... the icon section will consume 50% of the available 1200px space ... */
    /* max-width: 50%;                                                                    ... but the maximum width of the icon section will not exceed 50% of the 1200px space... */
}
 
.icon {                                                                            /* For each icon: */
    display: flex;                                                                    /* ... line everthing up side-by-side ... */     
    flex-direction: column;                                                           /* ... stack elements one on top of each other ... */
    justify-content: space-between;                                                   /* ... spread out each element as far apart as possible from each other as height increases ... */
    align-items: center;                                                              /* ... images of icon will be centered (i.e. no stretching of image, etc.) over text ... */
    margin: .5rem;                                                                    /* ... margin between icons... */
    padding: 1.0rem;                                                                  /* ... padding between icons and description (with rem, higher=closer, lower=farther) ... */
    background-color: #202027;                                                      /* ... background color of each icon tile ... */
    width: 100px;                                                                     /* ... makes the background tile a square ...*/
    height: 100px;                                                                    /* ... makes the background tile a square ...*/
    margin-bottom: 2rem;                                                              /* ... adds a bit of space between the icon tiles and the subtitle ...*/
    border-radius: .2rem;                                                             /* ... rounded icon tile edges ...*/
}

.icon img {
    width: 35px;
}


@media (max-width: 800px) {
    .discover-main-section {
      flex-direction: column;
      justify-content: center;
    }
  
    .discover-main-section .covers-image {
      margin-top: 2rem;
      height: 30vh;
      width: auto;
    }
  }